.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
}

.footerText {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--theme-sectext);
}

.footerEmail {
  font-size: 0.9rem;
  color: var(--theme-accent);
}

.logowrapper{
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0 0 0;
  flex-direction: row;
}

.logowrapper svg {
  color: var(--theme-accent);
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 767px) {
  .footerText {
    font-size: 0.9rem;
    
  }
  .footerEmail {
    font-size: 0.8rem;
  }
  .logowrapper svg {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 360px) {
  .footerText {
    font-size: 0.8rem;
  }
  .footerEmail {
    font-size: 0.7rem;
  }
  .logowrapper svg {
    height: 18px;
    width: 18px;
  }
}