.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 4rem auto 6rem;
}

.pagescontainer {
  max-width: 36rem;
  margin: 1rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.posts {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;  
}