.themeselect {
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: var(--theme-bg);
    color: var(--theme-accent);
    border: 2px solid var(--theme-accent);
    text-decoration: none;
}

.themeselect :hover {
  border: 2px solid var(--theme-accent);
}