.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  padding: 0 1rem;
}

.header a {
  font-size: 1rem;
  color: var(--theme-accent);
}

.header a:hover {
  text-decoration: underline 4px var(--theme-accent);
}

.select_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select_wrapper::after {
  content: "▼";
  color: var(--theme-accent);
  font-size: 14px;
  position: absolute;
  right: 1.2rem;
}

.themeselect {
  border:0px;
  outline:0px;
  margin: 1rem;
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--theme-bg);
  color: var(--theme-accent);
  border: 1px solid var(--theme-accent);
  text-decoration: none;
}


@media screen and (max-width: 767px) {
  .header a{
    font-size: 0.9rem;
  }
  .header {
    gap: 0.4rem;
  }
}

@media (max-width: 362px) {
  .header a{
    font-size: 0.7rem;
  }
  .header {
    gap: 0.3rem;
  }
}