:root {
  --theme-bg: #EEEEEE;
  --theme-text: #000;
  --theme-accent: #D81B60;
}
html[data-theme="dark"], [data-theme='dark'] {
  --theme-bg: #212121;
  --theme-text: #EEEEEE;
  --theme-accent: #D81B60;
}
[data-theme="nord"] , [data-theme='nord'] body {
  --theme-bg: #1F1E1F;
  --theme-text: #EEEEEE;
  --theme-accent: #9AC1B4;
}
[data-theme="blue"] , [data-theme='blue'] body {
  --theme-bg: #161c35;
  --theme-text: #EEEEEE;
  --theme-accent: #7c91e2;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--theme-bg);
  color: var(--theme-text);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--theme-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
::-webkit-scrollbar-track {
background: var(--theme-bg);
}

::-webkit-scrollbar-thumb {
background: var(--theme-accent); 
}