@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --theme-bg: #ffffff;
  --theme-bgcode: #1F1E1F;
  --theme-text: #000;
  --theme-accent: #D81B60;
  --theme-sectext: #828282;
  --transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}
html [data-theme="light"], [data-theme='light'] {
  --theme-bg: #ffffff;
  --theme-bgcode: #1F1E1F;
  --theme-text: #000;
  --theme-accent: #D81B60;
  --theme-sectext: #828282;
}
[data-theme="dark"], [data-theme='dark'] {
  --theme-bg: #212121;
  --theme-bgcode: #212121;
  --theme-text: #ffffff;
  --theme-accent: #D81B60;
  --theme-sectext: #CFCFCF;
}
[data-theme="nord"] , [data-theme='nord'] body {
  --theme-bg: #1F1E1F;
  --theme-bgcode: #1F1E1F;
  --theme-text: #ffffff;
  --theme-accent: #9AC1B4;
  --theme-sectext: #CFCFCF;
}
[data-theme="blue"] , [data-theme='blue'] body {
  --theme-bg: #161c35;
  --theme-bgcode: #161c35;
  --theme-text: #ffffff;
  --theme-accent: #7c91e2;
  --theme-sectext: #CFCFCF;
}


html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--theme-bg);
  color: var(--theme-text);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
	color: var(--theme-accent);
}

img {
  max-width: 100%;
  display: block;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 8rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--theme-bg);
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background: var(--theme-accent); 
}

@media (max-width: 767px) {
  .container{
    margin: 1rem auto 0rem;
  }
}